* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#BDDAEE 10%,#185D8B 80%);
  background-position: center center;
  animation: 4s ease-in-out 0s infinite alternate breathe;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

@keyframes breathe {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 170% 170%;
  }
}